@import './assets/style/font/iconfont.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  color: #606266;
}
[v-cloak] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  /*max-width:100%;*/
}

ul li {
  list-style: none;
}

::selection {
  background: transparent;
  color: #4a80f6;
}

a {
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body,html{
  height: 100%;
  width: 100%;
  font-size: 14px;
}

#app{
  height: 100%;
}

.main-line{
	border-color: #E5E7EF!important;
}

.main-color{
	color: #4A80F6;
}

.main-bold{
	color: #303133;
}

.main-exp{
	color: #909399;
}

.page-container{
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 60px);
  overflow: visible;
}

.fy-page-title{
  margin-top: 0;
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #37474f;
}

.box{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 1px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 24px;
  padding: 24px;
}

.box-title-explain{
  font-size: 14px;
  margin-bottom: 11px;
}

.box-title{
  @extend .box-title-explain;
  font-weight: bold;
}

.flex{
	display: flex;
}

.flex-between{
	display: flex;
	justify-content: space-between;
}

.flex-center{
	display: flex;
	justify-content: center;
  align-content: center;
}
.el-dropdown{
	cursor: default;
}
.bt-line{
	border-bottom: 1px solid #E5E7EF;
}
/*文字标题*/
.cha-title{
  font-size: 14px;
  color: #303133;
  margin-right: 10px;
  font-weight: bold;
}
/*常规字体颜色*/
.con-size{
  color: #606266;
}
/*el-ui的input覆盖*/
.el-input__inner{
  height: 36px;
  line-height: 36px;
}
//tree的背景颜色
.el-tree {
  background: #F9FBFC;
}
//tree的三角符号
.el-tree-node__expand-icon{
  color: #55595C;
  font-size: 18px;
}
//tree每行的高度
.el-tree-node__content {
  height: 36px;
}

.pb10{
	padding-bottom: 10px;
}

.pt20{
	padding-top: 20px;
}

.mt20{
	margin-top: 20px;
}

.el-form-item{
	margin-bottom: 20px;
}

.btn{
	outline: none;
	padding: 8px 14px;
	color: #606266;
	background: transparent;
	border: none;
	cursor: pointer;
}

.primary-btn{
	@extend .btn;
	border-radius: 4px;
	background: #F5F5F5;
	border: 1px solid #dcdfe6;
}

.clear-btn{
	@extend .btn;
	text-decoration: underline;
}

.el-table th{
	background-color: #f5f5f5;
}

.icon-more{
	color: #4A80F6;
	cursor: pointer;
}

.el-tabs__nav-wrap::after{
	height: 1px;
	@extend .main-line
}

.el-scrollbar__wrap{
	height: calc(100% + 17px);
}